body {
    background-color: #2b2929; 
}


.vertical-menu {
    width: 200px; 
    background-color: #f8f9fa; 
    border-radius: 20px; 
    overflow: hidden; 
    margin-top: 115px;
    margin-left: 10px;
    height: 700px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    
}

.vertical-menu ul {
    list-style-type: none; 
    padding: 0;

}


.vertical-menu li a {
    display: block; 
    padding: 12px 16px; 
    text-decoration: none; 
    color: #0f0e11; 
    text-align: center;
}

.vertical-menu li a:hover {
    background-color: #caccca; 
}

.logo {
    position: absolute;
    top: 10px; /* Distancia desde la parte superior */
    left: 60px; /* Distancia desde la izquierda */
    width: 100px; /* Ancho de la imagen */
    height: 100px; /* Altura de la imagen */
    border-radius: 10px;
  }

.balance-total {
    text-align: center;
    margin-top: 20px; 
    font-family:"Quicksand", sans-serif;
    font-weight: bold;

}

.dinero-en-cuenta {
    font-size: 25px;
    text-align: center;
    margin-top: 20px; 
    font-family:"Quicksand", sans-serif;
    font-weight: bold;

}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    position: absolute; 
    top: 95px; 
    left: 15%; 
    height: 1000px;
}

.rounded-container {
    background-color: #f8f9fa;
    border: none;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    top: 70px; 
    left: 15%; 
    height: 700px;
    
}

p {
    font-family:"Quicksand", sans-serif;
    font-weight: bold;
    font-size: 15px;


}

.credit-card {
    width: 300px;
    height: 200px;
    background: linear-gradient(to bottom right, #000000, #333333, #8f8f8f );
    color: rgba(185, 178, 178, 0.801);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 0 auto;
  }
  
  
  .card-number {
    font-size: 18px;
    margin-top: 60px;
  }
  
  .card-holder {
    font-size: 16px;
    margin-top: 20px;
  }
  
  .card-expiry {
    font-size: 16px;
    margin-top: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .chip {
    width: 40px; 
    height: 30px; 
    border-radius: 4px; 
    position: absolute; 
    top: 10px; 
    left: 10px; 
  }

  .chip img {
    width: 40px;
    height: 30px;
    border-radius: 4px; /* Bordes redondeados */
  }


  .bank-name {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    
    text-transform: uppercase;

}

h2 {
    font-family:"Quicksand", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

h3 {
    font-family:"Quicksand", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

button[type="submit"] {
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color: #2b2929;
    border: none;
    padding: 10px 20px;
    margin: 5px;
}

#addContactButton {
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color: #2b2929;
    border: none;
    padding: 10px 20px;
    margin: 5px;
}


.form-group input#searchContact {
    font-size: 12px; /* Tamaño de la fuente */
    padding: 5px 10px; /* Espaciado interno */
    width: 400px; /* Reducir el ancho del campo de búsqueda */
    height: 30px; /* Reducir la altura del campo de búsqueda */
}

.form-group {
    margin-left: -80px; /* Ajusta el valor según sea necesario */
}


  .enviardinero-aside {
    width: 600px; /* Ancho del aside */
    background-color: #f8f9fa; /* Color de fondo gris */
    border-radius: 20px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin-left: 20px; /* Margen izquierdo para separarlo del contenido principal */
    position: absolute; /* Cambiar la posición a absoluta */
    top: 115px; /* Ajustar la distancia desde la parte superior */
    right: 50px; /* Ajustar la distancia desde el borde derecho */
    height: 700px;
    font-family:"Quicksand", sans-serif;
    text-align:left;

  }

  .enviardinero-aside h2 {
    margin-left: -70px; /* Aplica un margen negativo hacia la izquierda */
    margin-top: -50px;
}

  .enviardinero-aside h3 {
    margin-left: -70px; /* Aplica un margen negativo hacia la izquierda */
    margin-top: 5px;
}

  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Quicksand', sans-serif;
}


  